sh3 {font-weight: bold; font-size: 15px;}
span { display: inline-block; width: 150px }
div.form-group { margin: 15px 0 }
div.names input { width: 150px }
div.emails input { width: 200px }
div.year input { width: 50px }
#zip input { width: 75px }
#twitter input { width: 100px }
#address input,
#city input { width: 150px }
#phone input { width: 100px }
#positions input { width: 150px }
span input { margin-left: 135px }
body.js .hide-if-js { display: none }
.required:after { margin-left: 3px; content:"*"; color: red; font-weight: bold;} 